<div class="container clear">
	<div id="gc-content-license" class="gc-content-license g-wide--3 g-wide--last">
		<p>除非另有说明，本网页的内容采用<a href="http://creativecommons.org/licenses/by/3.0/">知识共享署名3.0许可</a>和代码示例都基于<a href="http://www.apache.org/licenses/LICENSE-2.0">Apache2.0许可</a>。如需详细资讯，请参阅我们的<a href="/site-policies">网站政策</a>。</p>。
	</div>
</div>
