---
layout: default
title: "视觉样式手册"
description: "本站所使用的视觉样式手册。"
class: styleguide
learning-list:
  - 一杯咖啡不够喝，就当时是一场误会
  - Fugit itaque sapiente earum quo expedita
  - labore aliquam cupiditate veritatis nihil
article:
  written_on: 2014-01-01
  updated_on: 2014-01-06
  order: 2
collection: resources
---
{% comment %}
NOTE: This is our styleguide
{% endcomment %}

<div class="summary-header">
  <div class="container">
    <nav class="breadcrumbs">
      <p><a class="breadcrumbs__link" href="{{site.baseurl}}/">网络开发基础</a> / <a href="{{site.baseurl}}/resources" class="breadcrumbs__link">Resources</a> /</p>
    </nav>
    <h1 class="summary-header__title">视觉样式手册</h1>
    <ol class="summary-header__anchor-list  list-links">
      <li class="summary-header__anchors-item"><a href="#typography">字号</a></li>
      <li class="summary-header__anchors-item"><a href="#buttons">按钮</a></li>
      <li class="summary-header__anchors-item"><a href="#lists">列表</a></li>
      <li class="summary-header__anchors-item"><a href="#links">链接</a></li>
      <li class="summary-header__anchors-item"><a href="#icons">图标</a></li>
      <li class="summary-header__anchors-item"><a href="#breadcrumbs">面包屑</a></li>
      <li class="summary-header__anchors-item"><a href="#table">表格</a></li>
      <li class="summary-header__anchors-item"><a href="#grid">网格</a></li>
      <li class="summary-header__anchors-item"><a href="#colors">颜色</a></li>
      <li class="summary-header__anchors-item"><a href="#highlights">高亮</a></li>
      <li class="summary-header__anchors-item"><a href="#editorial-header">文章头部</a></li>
      <li class="summary-header__anchors-item"><a href="#article-section">文章部分</a></li>
      <li class="summary-header__anchors-item"><a href="#guides-section">指导部分</a></li>
      <li class="summary-header__anchors-item"><a href="#page-header">页面头部</a></li>
      <li class="summary-header__anchors-item"><a href="#quote">引用</a></li>
      <li class="summary-header__anchors-item"><a href="#guides-intro">指导介绍</a></li>
      <li class="summary-header__anchors-item"><a href="#article-navigation">文章导航</a></li>
      <li class="summary-header__anchors-item"><a href="#next-lessons">下一课</a></li>
      <li class="summary-header__anchors-item"><a href="#related-items">相关项目</a></li>
      <li class="summary-header__anchors-item"><a href="#did-you-know">你知道吗</a></li>
      <li class="summary-header__anchors-item"><a href="#latest-spotlights">最新焦点</a></li>
      <li class="summary-header__anchors-item"><a href="#video">视频</a></li>
      <li class="summary-header__anchors-item"><a href="#case-study">案例研究</a></li>
      <li class="summary-header__anchors-item"><a href="#our-view">我们的观点</a></li>
      <li class="summary-header__anchors-item"><a href="#featured-spotlight">特性亮点</a></li>
      <li class="summary-header__anchors-item"><a href="#featured-list">特性列表</a></li>
    </ol>
  </div>
</div>

<div class="container">

  <a name="typography"></a>
  <section class="styleguide__typography">
    <h2 class="subsection-title"><strong class="subsection-number">#01</strong> 字号</h2>
    <strong class="subsection-number">Small</strong>
    <p class="small">一杯咖啡不够喝，就当时是一场误会。</p>
    <strong class="subsection-number">Base</strong>
    <p class="base">一杯咖啡不够喝，就当时是一场误会。</p>
    <strong class="subsection-number">Medium</strong>
    <p class="medium">一杯咖啡不够喝，就当时是一场误会。</p>
    <strong class="subsection-number">Large</strong>
    <p class="large">一杯咖啡不够喝，就当时是一场误会。</p>
    <strong class="subsection-number">XLarge</strong>
    <p class="xlarge">一杯咖啡不够喝，就当时是一场误会。</p>
    <strong class="subsection-number">XXLarge</strong>
    <p class="xxlarge">一杯咖啡不够喝，就当时是一场误会。</p>
    <strong class="subsection-number">Huge</strong>
    <p class="huge">一杯咖啡不够喝，就当时是一场误会。</p>
  </section>



  <a name="buttons"></a>
  <section class="styleguide__buttons">
    <h2 class="subsection-title"><strong class="subsection-number">#02</strong>按钮</h2>

    <div>
      <h4>基础</h4>
      <a href="#0" class="button--primary">使用我们的工具</a>
    </div>

    <div>
      <h4>辅助版本</h4>
      <div>
        <a href="#0" class="button--secondary">使用我们的工具</a>
      </div>

      <div class="styleguide__inverted-block">
        <a href="#0" class="button--secondary-variation">使用我们的工具</a>
      </div>
    </div>
  </section>

  <a name="lists"></a>
  <section class="styleguide__lists">
    <h2 class="subsection-title"><strong class="subsection-number">#03</strong>列表</h2>

    <h3>Default lists</h3>

    <h4>ul</h4>
    <ul>
      <li>一杯咖啡不够喝，就当时是一场误会。</li>
      <li>可以回答曼特宁，桌子上还散落几张滤纸</li>
      <li>向日葵配太阳才存活咖啡要配曲奇才美味</li>
    </ul>

    <ul>
      <li>一杯咖啡不够喝，就当时是一场误会。
        <ul>
          <li>一杯咖啡不够喝，就当时是一场误会。</li>
          <li>一杯咖啡不够喝，就当时是一场误会。</li>
        </ul>
      </li>
      <li>可以回答曼特宁，桌子上还散落几张滤纸</li>
    </ul>

    <ul>
      <li>一杯咖啡不够喝，就当时是一场误会。
        <ol>
          <li>一杯咖啡不够喝，就当时是一场误会。</li>
          <li>一杯咖啡不够喝，就当时是一场误会。</li>
        </ol>
      </li>
      <li>可以回答曼特宁，桌子上还散落几张滤纸</li>
    </ul>

    <h4>ol</h4>
    <ol>
      <li>一杯咖啡不够喝，就当时是一场误会</li>
      <li>可以回答曼特宁，桌子上还散落几张滤纸</li>
      <li>向日葵配太阳才存活咖啡要配曲奇才美味</li>
      <li>一杯咖啡不够喝，就当时是一场误会</li>
      <li>可以回答曼特宁，桌子上还散落几张滤纸</li>
      <li>向日葵配太阳才存活咖啡要配曲奇才美味</li>
      <li>一杯咖啡不够喝，就当时是一场误会</li>
      <li>可以回答曼特宁，桌子上还散落几张滤纸</li>
      <li>向日葵配太阳才存活咖啡要配曲奇才美味</li>
      <li>一杯咖啡不够喝，就当时是一场误会</li>
      <li>可以回答曼特宁，桌子上还散落几张滤纸</li>
    </ol>

    <ol>
      <li>一杯咖啡不够喝，就当时是一场误会。
        <ol>
          <li>一杯咖啡不够喝，就当时是一场误会。</li>
          <li>一杯咖啡不够喝，就当时是一场误会。</li>
        </ol>
      </li>
      <li>一杯咖啡不够喝，就当时是一场误会。</li>
    </ol>

    <ol>
      <li>一杯咖啡不够喝，就当时是一场误会。
        <ul>
          <li>一杯咖啡不够喝，就当时是一场误会。</li>
          <li>一杯咖啡不够喝，就当时是一场误会。</li>
        </ul>
      </li>
      <li>一杯咖啡不够喝，就当时是一场误会。</li>
    </ol>

    <h4>dl</h4>
    <dl>
      <dt>Term</dt>
      <dd>一杯咖啡不够喝，就当时是一场误会若不在意它是老鼠。讲，谁没有怨，百灵与夜莺，我，但我不仅不能尽我的责任，你去时也还是一个光亮，卻不是来作客。杭州西溪的芦雪与威尼市夕照的红潮，没福见着你的父亲，更无从悔。</dd>
      <dt>Term</dt>
      <dd>一杯咖啡不够喝，就当时是一场误会若不在意它是老鼠。讲，谁没有怨，百灵与夜莺，我，但我不仅不能尽我的责任，你去时也还是一个光亮，卻不是来作客。杭州西溪的芦雪与威尼市夕照的红潮，没福见着你的父亲，更无从悔。</dd>
      <dt>Term</dt>
      <dd>一杯咖啡不够喝，就当时是一场误会若不在意它是老鼠。讲，谁没有怨，百灵与夜莺，我，但我不仅不能尽我的责任，你去时也还是一个光亮，卻不是来作客。杭州西溪的芦雪与威尼市夕照的红潮，没福见着你的父亲，更无从悔。</dd>
    </dl>

    <h3>默认连接列表</h3>

    <h4>ul</h4>
    <ul class="list-links"> <!-- # helvetica -->
      <li class="list__item"><a href="#">一杯咖啡不够喝，就当时是一场误会</a></li>
      <li class="list__item"><a href="#">可以回答曼特宁，桌子上还散落几张滤纸</a></li>
      <li class="list__item"><a href="#">向日葵配太阳才存活咖啡要配曲奇才美味</a></li>
    </ul>

    <ul class="list-links list-links--primary"> <!-- > roboto -->
      <li class="list__item"><a href="#">一杯咖啡不够喝，就当时是一场误会</a></li>
      <li class="list__item"><a href="#">可以回答曼特宁，桌子上还散落几张滤纸</a></li>
      <li class="list__item"><a href="#">向日葵配太阳才存活咖啡要配曲奇才美味</a></li>
    </ul>

    <h4>ol</h4>
    <ol class="list-links">
      <li><a href="#">一杯咖啡不够喝，就当时是一场误会</a></li>
      <li class="current"><a href="#">可以回答曼特宁，桌子上还散落几张滤纸</a></li>
      <li><a href="#">向日葵配太阳才存活咖啡要配曲奇才美味</a></li>
    </ol>

    <ol class="list-anchor">
      <li><a href="#">一杯咖啡不够喝，就当时是一场误会</a></li>
      <li><a href="#">可以回答曼特宁，桌子上还散落几张滤纸</a></li>
      <li><a href="#">向日葵配太阳才存活咖啡要配曲奇才美味</a></li>
    </ol>

    <ol class="list-anchor list-small">
      <li><a href="#">一杯咖啡不够喝，就当时是一场误会</a></li>
      <li><a href="#">可以回答曼特宁，桌子上还散落几张滤纸</a></li>
      <li><a href="#">向日葵配太阳才存活咖啡要配曲奇才美味</a></li>
    </ol>

    <ol class="list-links list-links--secondary">
      <li><a href="#">布局基础</a></li>
      <li><a href="#">基础布局</a></li>
      <li><a href="#">布局规则</a></li>
    </ol>

    <ol class="list-links list-links--secondary list-small">
      <li><a href="#">布局基础</a></li>
      <li><a href="#">基础布局</a></li>
      <li><a href="#">布局规则</a></li>
    </ol>

  </section>


  <a name="links"></a>
  <section class="styleguide__links">
    <h2 class="subsection-title"><strong class="subsection-number">#04</strong> 链接</h2>

    <div>
      <h4>基础</h4>
      <a href="#" class="cta--primary">使用我们的工具</a>
    </div>

    <div>
      <h4>辅助链接</h4>
      <div>
        <a href="#" class="cta--secondary">使用我们的工具</a>
      </div>
    </div>

    <div>
      <p>一杯咖啡不够喝，就当时是一场误会若不在意它是老鼠。 <a href="#" class="cta">使用我们的工具</a> Fugiat, quam alias voluptatem tempora minus dolor facere cumque necessitatibus placeat velit aliquid ab dolore beatae. Neque ipsam in a illum repellendus?</p>
    </div>

  </section>

  <a name="icons"></a>
  <section class="styleguide__icons">
    <h2 class="styleguide__icons"><strong class="subsection-number">#05</strong>图标</h2>

    <div class="clear">
      <p class="g--third"><i class="icon icon-minus"></i></p>
      <p class="g--third"><i class="icon icon-plus"></i></p>
      <p class="g--third g--last"><i class="icon icon-star"></i></p>
      <p class="g--third"><i class="icon icon-chevron-right"></i></p>
      <p class="g--third"><i class="icon icon-chevron-left"></i></p>
      <p class="g--third g--last"><i class="icon icon-chevron-up"></i></p>
      <p class="g--third"><i class="icon icon-chevron-down"></i></p>
      <p class="g--third"><i class="icon icon-slash"></i></p>
      <p class="g--third g--last"><i class="icon icon-google-dev"></i></p>
      <p class="g--third"><i class="icon icon-lessons"></i></p>
      <p class="g--third"><i class="icon icon-multi-device-layouts"></i></p>
      <p class="g--third g--last"><i class="icon icon-user-input"></i></p>
      <p class="g--third"><i class="icon icon-introduction-to-media"></i></p>
      <p class="g--third"><i class="icon icon-performance"></i></p>
      <p class="g--third g--last"><i class="icon icon-bullet"></i></p>
      <p class="g--third"><i class="icon icon-chevron-large"></i></p>
      <p class="g--third"><i class="icon icon-close"></i></p>
      <p class="g--third g--last"><i class="icon icon-cog"></i></p>
      <p class="g--third"><i class="icon icon-diamond"></i></p>
      <p class="g--third"><i class="icon icon-exclamation"></i></p>
      <p class="g--third g--last"><i class="icon icon-hash"></i></p>
      <p class="g--third"><i class="icon icon-menu"></i></p>
      <p class="g--third"><i class="icon icon-question"></i></p>
      <p class="g--third g--last"><i class="icon icon-tick"></i></p>
    </div>

    <h4>圆图标</h4>

    <div class="clear">
      <p class="g--half"><span class="icon-circle"><i class="icon icon-lessons"></i></span></p>
      <p class="g--half g--last"><span class="icon-circle"><i class="icon icon-lessons"></i></span></p>
      <p class="g--half"><span class="icon-circle"><i class="icon icon-lessons"></i></span></p>
      <p class="g--half g--last"><span class="icon-circle"><i class="icon icon-lessons"></i></span></p>
    </div>

    <h4>圆图标-主题</h4>

    <div class="clear">
      <p class="g--half theme--multi-device-layouts"><span class="icon-circle themed--background"><i class="icon icon-multi-device-layouts"></i></span></p>
      <p class="g--half g--last theme--user-input"><span class="icon-circle themed--background"><i class="icon icon-user-input"></i></span></p>
      <p class="g--half theme--introduction-to-media"><span class="icon-circle themed--background"><i class="icon icon-introduction-to-media"></i></span></p>
      <p class="g--half g--last theme--performance"><span class="icon-circle themed--background"><i class="icon icon-performance"></i></span></p>
    </div>

    <h4>圆图标-大</h4>

    <div class="clear">
      <p class="g--half theme--multi-device-layouts"><span class="icon-circle--large themed--background"><i class="icon icon-multi-device-layouts"></i></span></p>
      <p class="g--half g--last theme--user-input"><span class="icon-circle--large themed--background"><i class="icon icon-user-input"></i></span></p>
      <p class="g--half theme--introduction-to-media"><span class="icon-circle--large themed--background"><i class="icon icon-introduction-to-media"></i></span></p>
      <p class="g--half g--last theme--performance"><span class="icon-circle--large themed--background"><i class="icon icon-performance"></i></span></p>
    </div>

  </section>

  <a name="breadcrumbs"></a>
  <section class="styleguide__breadcrumb">
    <h2 class="subsection-title"><strong class="subsection-number">#06</strong>面包屑</h2>

    <nav class="breadcrumbs">
      <p><a href="#" class="breadcrumbs__link">链接1</a> / <a href="#" class="breadcrumbs__link">链接2</a> / <a href="#" class="breadcrumbs__link">链接3</a> / <a href="#" class="breadcrumbs__link">链接4</a> </p>
    </nav>

  </section>

  <a name="table"></a>
  <section class="styleguide__table">
    <h2 class="subsection-title"><strong class="subsection-number">#07</strong>表格</h2>

    <table class="table-4">
      <colgroup>
         <col span="1">
         <col span="1">
         <col span="1">
         <col span="1">
      </colgroup>
      <thead>
        <tr>
          <th>元素</th>
          <th>可用性</th>
          <th>描述</th>
          <th>描述</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-th="element"><code>src</code></td>
          <td data-th="availability">所有浏览器</td>
          <td data-th="description">提供视频地址（URL）。</td>
          <td data-th="description">提供视频地址（URL）。</td>
        </tr>
        <tr>
          <td data-th="element"><code>poster</code></td>
          <td data-th="availability">所有浏览器</td>
          <td data-th="description">浏览器在展示视频元素且尚未加载视频内容的时候，即刻展现的图像地址（URL）。</td>
          <td data-th="description">浏览器在展示视频元素且尚未加载视频内容的时候，即刻展现的图像地址（URL）。</td>
        </tr>
      </tbody>
    </table>

    <table class="table-3">
      <colgroup>
         <col span="1">
         <col span="1">
         <col span="1">
      </colgroup>
      <thead>
        <tr>
          <th>元素</th>
          <th>可用性</th>
          <th>描述</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-th="element"><code>src</code></td>
          <td data-th="availability">所有浏览器</td>
          <td data-th="description">提供视频地址（URL）。</td>
        </tr>
        <tr>
          <td data-th="element"><code>poster</code></td>
          <td data-th="availability">所有浏览器</td>
          <td data-th="description">浏览器在展示视频元素且尚未加载视频内容的时候，即刻展现的图像地址（URL）。</td>
        </tr>
      </tbody>
    </table>

    <table class="table-2">
      <colgroup>
         <col span="1">
         <col span="1">
      </colgroup>
      <thead>
        <tr>
          <th>元素</th>
          <th>可用性</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-th="element"><code>src</code></td>
          <td data-th="availability">规则应用于所有浏览器宽度，覆盖在查询中定义的值。</td>
        </tr>
        <tr>
          <td data-th="element"><code>poster</code></td>
          <td data-th="availability">规则应用于所有浏览器宽度，覆盖在查询中定义的值。</td>
        </tr>
      </tbody>
    </table>

    <p>
      <b>注意：</b> 表格内无法识别<code>markdown</code>，因此所有的代码块都要放在一对&lt;code&gt;标签内。
    </p>

  </section>

  <a name="grid"></a>
  <section class="styleguide__grid">
    <h2 class="subsection-title"><strong class="subsection-number">#08</strong> 网格</h2>

    <div class="clear demo">
      <div class="g-medium--half g-wide--1"></div>
      <div class="g-medium--half g-medium--last g-wide--1"></div>
      <div class="g-medium--half g-wide--1"></div>
      <div class="g-medium--half g-medium--last g-wide--1 g-wide--last"></div>
    </div>

    <div class="clear demo">
      <div class="g-wide--1 g-medium--half"></div>
      <div class="g-wide--3 g-wide--last g-medium--half g--last"></div>
    </div>

    <div class="clear demo">
      <div class="g-wide--3 g-medium--half"></div>
      <div class="g-wide--1 g-wide--last g-medium--half g--last"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--full g-wide--full"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--2 g-medium--last g-wide--3"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--1 g-medium--last g-wide--2"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--1 g-medium--last g-wide--1"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--1 g-medium--push-2 g-medium--last g-wide--1 g-wide--push-3 g-wide--last"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--1 g-medium--push-2 g-medium--last g-wide--2 g-wide--push-2 g-wide--last"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--2 g-medium--push-1 g-medium--last g-wide--3 g-wide--push-1 g-wide--last"></div>
    </div>

    <h4>一致网格类</h4>

    <div class="clear demo">
      <div class="g--third"></div>
      <div class="g--third"></div>
      <div class="g--third g--last"></div>
    </div>


    <div class="clear demo">
      <div class="g--half"></div>
      <div class="g--half g--last"></div>
    </div>

    <div class="clear demo">
      <div class="g--half g--centered"></div>
      <div class="g--third g--centered"></div>
    </div>

  </section>

  <a name="colors"></a>
  <section class="styleguide__colors">
    <h2 class="subsection-title"><strong class="subsection-number">#09</strong>颜色</h2>

    <h3>灰度</h3>
    <ul class="styleguide__color-list list-reset clear">
      <li class="color--gray-background g--half">gray-background（灰-背景）</li>
      <li class="color--gray-keyline g--half g--last">gray-keyline（灰-导线）</li>
      <li class="color--gray g--half">gray（灰）</li>
      <li class="color--gray-medium g--half g--last">gray-medium（灰-中）</li>
      <li class="color--gray-dark g--half">gray-dark（灰-暗）</li>
    </ul>

    <h3>主题</h3>
    <ul class="styleguide__color-list list-reset clear">
      <li class="color--layouts g--half">layouts（布局）</li>
      <li class="color--layouts-secondary g--half g--last">layouts secondary（布局辅助）</li>
      <li class="color--user g--half">user（用户）</li>
      <li class="color--user-secondary g--half g--last">user secondary（用户辅助）</li>
      <li class="color--media g--half">media（媒体）</li>
      <li class="color--media-secondary g--half g--last">media secondary（媒体辅助）</li>
      <li class="color--performance g--half">performance（性能）</li>
      <li class="color--performance-secondary g--half g--last">performance secondary（性能辅助）</li>
    </ul>

    <h3>Google</h3>
    <ul class="styleguide__color-list list-reset clear">
      <li class="color--blue g--half">blue（蓝）</li>
      <li class="color--blue-secondary g--half g--last">blue secondary（蓝辅助）</li>
      <li class="color--green g--half">green（绿）</li>
      <li class="color--green-secondary g--half g--last">green secondary（绿辅助）</li>
      <li class="color--red g--half">red（红）</li>
      <li class="color--red-secondary g--half g--last">red secondary（红辅助）</li>
      <li class="color--yellow g--half">yellow（黄）</li>
      <li class="color--yellow-secondary g--half g--last">yellow secondary（黄辅助）</li>
    </ul>

    <h3>帮助</h3>
    <ul class="styleguide__color-list list-reset clear">
      <li class="color--text g--half">text（文本）</li>
      <li class="color--highlight g--half g--last">highlight（高亮）</li>
      <li class="color--warning g--half">warning（警告）</li>
      <li class="color--danger g--half g--last">danger（危险）</li>
      <li class="color--muted g--half">muted（静音）</li>
      <li class="color--remember g--half g--last">remember（记住）</li>
      <li class="color--learning g--half">learning（学习）</li>
    </ul>
  </section>

  <a name="highlights"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#10</strong> 高亮</h2>

</div> <!-- // closing container -->

<section class="styleguide__highlights">

  {% include modules/remember.liquid text="Lorem ipsum dolor sit amet consectetur adipisicing elit." %}

  {% include modules/takeaway.liquid position="left" text="Lorem ipsum dolor sit amet consectetur adipisicing elit." %}

  {% include modules/remember.liquid position="right"  list=page.learning-list %}

  {% include modules/remember.liquid position="left" text="Lorem ipsum dolor sit amet consectetur adipisicing elit." priority="large" %}

  {% include_code _code/test.html somehtml html %}

  {% highlight html %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endhighlight %}

  <p>You can also add inline code blocks <code>some code here</code> to your content.</p>

  {% include modules/takeaway.liquid list=page.learning-list inline=true %}

  {% include modules/remember.liquid list=page.learning-list inline=true %}

</section>

<div class="container">
  <a name="editorial-header"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#11</strong>文章头部</h2>
</div>

<section class="styleguide__editorial-header">

  <div class="editorial-header">
    <div class="container">
      <nav class="breadcrumbs">
        <p> / <a href="#" class="breadcrumbs__link">基础</a> / <a href="#" class="breadcrumbs__link"> 多设备布局</a></p>
      </nav>

      <h1 class="tag editorial-header__title">布局基础</h1>
      <h2 class="editorial-header__subtitle">什么是viewport？</h2>
      <p class="editorial-header__excerpt g-wide--pull-1">一杯咖啡不够喝，就当时是一场误会若不在意它是老鼠。好可爱，奇迹，滤纸是招你还是惹你了。好可爱，奇迹，滤纸是招你还是惹你了。 </p>
      <p class="g-wide--pull-1">一杯咖啡不够喝，就当时是一场误会若不在意它是老鼠。好可爱，奇迹，滤纸是招你还是惹你了。像吃中成药一样吞速溶颗粒直接喝水的记忆实在比较惨烈；二是两年前发现速溶谱系里也有挂耳这么高端的一族之后，十大原罪可以哦，中午连眯一会的地方都没有。</p>

      <div class="toc">
        <p class="toc__title">在本课中</p>
        <ol class="toc__list list-anchor" id="toc">
          <li><a href="#">一杯咖啡不够喝，就当时是一场误会</a></li>
          <li class="current"><a href="#">可以回答曼特宁，桌子上还散落几张滤纸</a></li>
          <li><a href="#">向日葵配太阳才存活咖啡要配曲奇才美味</a></li>
          <li><a href="#">一杯咖啡不够喝，就当时是一场误会</a></li>
          <li><a href="#">可以回答曼特宁，桌子上还散落几张滤纸</a></li>
          <li><a href="#">向日葵配太阳才存活咖啡要配曲奇才美味</a></li>
        </ol>
      </div>

    </div>
  </div>

</section>

<div class="container">
  <a name="article-section"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#12</strong>文章部分</h2>
</div>

<section class="styleguide__articles-section">
  <div class="articles-section">
    <div class="container">
      <span class="article-section__icon icon-circle themed themed--background"><span>4</span></span>
      <span class="articles-count">可用指导</span>
      <ol class="articles-list">
        <li class="articles-list__item">
          <div class="g-wide--2 g--centered">
            <a href="#" title="Read the lesson Layout basics">
              <h3 class="xlarge themed">布局基础</h3>
            </a>
          </div>
          <p class="g-medium--2 g-wide--3 g--centered">一杯咖啡不够喝，就当时是一场误会若不在意它是老鼠。我对你，可是唱片只有这一盘吗？可愛是火柴盒包裝。</p>
        </li>
        <div class="divider divider--secondary divider--short">
          <span class="divider-icon divider-icon--secondary"></span>
        </div>
        <li class="articles-list__item">
          <div class="g-wide--2 g--centered">
            <a href="#" title="Read the lesson Layout basics">
              <h3 class="xlarge themed">基础布局</h3>
            </a>
          </div>
          <p class="g-medium--2 g-wide--3 g--centered">一杯咖啡不够喝，就当时是一场误会若不在意它是老鼠。我对你，可是唱片只有这一盘吗？可愛是火柴盒包裝。</p>
        </li>
        <div class="divider divider--secondary divider--short">
          <span class="divider-icon divider-icon--secondary"></span>
        </div>
        <li class="articles-list__item">
          <div class="g-wide--2 g--centered">
            <a href="#" title="Read the lesson Layout basics">
              <h3 class="xlarge themed">布局基础</h3>
            </a>
          </div>
          <p class="g-medium--2 g-wide--3 g--centered">一杯咖啡不够喝，就当时是一场误会若不在意它是老鼠。我对你，可是唱片只有这一盘吗？可愛是火柴盒包裝。</p>
        </li>
        <div class="divider divider--secondary divider--short">
          <span class="divider-icon divider-icon--secondary"></span>
        </div>
        <li class="articles-list__item">
          <div class="g-wide--2 g--centered">
            <a href="#" title="Read the lesson Layout basics">
              <h3 class="xlarge themed">UI元素</h3>
            </a>
          </div>
          <p class="g-medium--2 g-wide--3 g--centered">一杯咖啡不够喝，就当时是一场误会若不在意它是老鼠。我对你，可是唱片只有这一盘吗？可愛是火柴盒包裝。</p>
        </li>
      </ol>
    </div>
  </div>
</section>

<div class="container">
  <a name="guides-section"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#13</strong>指导部分</h2>
</div>

<section class="styleguide__guides-section">
  <div class="guides-section">
        <header class="container">
            <h2 class="xxlarge">文档</h2>
            <p>Follow these guides and build web content users can access on any device they choose.</p>
        </header>

        <ul class="guides-list container">
          <li class="guides-list__item g--half theme--multi-device-layouts ">
            <div class="primary-content">
              <h3 class="xlarge"><a href="#" title="Go to Multi-Device Layouts" class="themed">多设备布局</a></h3>
              <p>一杯咖啡不够喝，就当时是一场误会若不在意它是老鼠。直到你的影像活现在我的眼前，他们的意义是永远明显的，想中止也不可能，我只能问！并且在他活泼的神情里我想见了你，苦恼时有安慰，但已往的教训，你便在旁边乖乖的坐着静听。</p>
            </div>
            <div class="secondary-content">
              <span class="icon-circle themed--background"><i class="icon icon-lessons"></i></span>
              <ol class="list-links list-links--secondary">
                <li><a href="#" title="Read the lesson Responsive Web Design Basics">响应式页面设计基础</a></li>
                <li><a href="#" title="Read the lesson Responsive Web Design Patterns">>响应式页面设计规则</a></li>
                <li><a href="#" title="Read the lesson Navigation and Action Patterns">导航及行为规则</a></li>
              </ol>
            </div>
          </li>
          <li class="guides-list__item g--half theme--introduction-to-media g--last">
            <div class="primary-content">
              <h3 class="xlarge"><a href="#" title="Go to Images, Audio and Video" class="themed">图像，音频及视频</a></h3>
              <p>一杯咖啡不够喝，就当时是一场误会若不在意它是老鼠。是怨，但我想借这悼念你的机会，同在一个音波里起伏，我说我要借这机会稍稍爬梳我年来的郁积；但那也不见得容易：要说的话仿佛就在口边，说你在坐车里常常伸出你的小手在车栏上跟着音乐按拍。</p>
            </div>
            <div class="secondary-content">
              <span class="icon-circle themed--background"><i class="icon icon-lessons"></i></span>
              <ol class="list-links list-links--secondary">
                <li><a href="#" title="Read the lesson Images">图像</a></li>
                <li><a href="#" title="Read the lesson Video">视频</a></li>
                <li><a href="#" title="Read the lesson Audio">音频</a></li>
              </ol>
            </div>
          </li>
          <li class="guides-list__item g--half theme--user-input ">
            <div class="primary-content">
              <h3 class="xlarge"><a href="#" title="Go to Forms and User Input" class="themed">表单及用户输入</a></h3>
              <p>一杯咖啡不够喝，就当时是一场误会若不在意它是老鼠。我自分不是无情，什么伟大的深沉的鼓舞的清明的优美的思想的根源不是可以在风籁中，想中止也不可能，这才觉着父性的爱像泉眼似的在性灵里汩汩的流出：只可惜是迟了，谁没有怅惘？</p>
            </div>
            <div class="secondary-content">
              <span class="icon-circle themed--background"><i class="icon icon-lessons"></i></span>
              <ol class="list-links list-links--secondary">
                <li><a href="#" title="Read the lesson Create Amazing Forms">创建惊艳表单</a></li>
                <li><a href="#" title="Read the lesson Add Touch to Your Site">向你的站点中添加触摸</a></li>
              </ol>
            </div>
          </li>
          <li class="guides-list__item g--half theme--performance g--last">
            <div class="primary-content">
              <h3 class="xlarge"><a href="#" title="Go to Optimizing Performance" class="themed">性能优化</a></h3>
              <p>一杯咖啡不够喝，就当时是一场误会若不在意它是老鼠。和风中，足够你性灵的迷醉。阳光的和暖与花草的美丽，想中止也不可能，因此我有时想，你生前日常把弄的玩具小车，打搅你的清听！我敢相信，流入凉爽的橄榄林中，一般青的青草同在大地上生长，我只是怅惘，许是忏悔，这时候想回头已经太迟！</p>
            </div>
            <div class="secondary-content">
              <span class="icon-circle themed--background"><i class="icon icon-lessons"></i></span>
              <ol class="list-links list-links--secondary">
                <li><a href="#" title="Read the lesson Critical Rendering Path">关键渲染路径</a></li>
                <li><a href="#" title="Read the lesson Optimizing Content Efficiency">有效优化内容</a></li>
              </ol>
            </div>
          </li>
        </ul>
      </div>
</section>

<div class="container">
  <a name="page-header"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#14</strong> 页面头部</h2>
</div>

<section class="styleguide__page-header">
  <div class="page-header">
    <div class="container">
      <nav class="breadcrumbs">
        <p> / <a href="#" class="breadcrumbs__link"> 基础</a></p>
      </nav>
      <h3 class="xxlarge">多设备布局</h3>
      <div class="divider">
        <span class="themed divider-icon"></span>
      </div>
      <p class="page-header__excerpt g-wide--push-1 g-wide--pull-1">一杯咖啡不够喝，就当时是一场误会若不在意它是老鼠。你稍大些会得淘气的时候，同是一滴眼泪，因此你得严格的为己，她们也使我，这样的玩顶好是不要约伴，你得有力量翻起那岩石才能把它不伤损的连根起出谁知道那根长的多深！</p>
    </div>
  </div>
</section>

<div class="container">
  <a name="quote"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#15</strong> 引用</h2>
</div>

<section class="styleguide__quote">
  <div class="quote">
    <div class="container">
      <blockquote class="quote__content g-wide--push-1 g-wide--pull-1 g-medium--push-1">一杯咖啡不够喝，就当时是一场误会若不在意它是老鼠。这次我再来欧洲你已经早一个星期回去，所以只有你单身奔赴大自然的怀抱时，今天已是壮年；昨天腮边还带着圆润的笑涡，是贝德花芬是槐格纳你就爱，他们是顶可爱的好友，我才觉着骨肉的关连？
      <p>名字 / 细节</p>
      </blockquote>
    </div>
  </div>
</section>

<div class="container">
  <a name="guides-intro"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#16</strong> 指导介绍</h2>
</div>

<section class="styleguide__centered-list">
  <div class="container">
    <ul class="list-guides-intro list-centered list-reset clear">
      <li class="g-medium--half g-wide--1 theme--multi-device-layouts  ">
        <a href="#" class="themed">
          <span class="icon-circle--large themed--background"><i class="icon icon-multi-device-layouts"></i></span>
          <h3 class="large">多设备布局</h3>
        </a>
        <p>创建流动的，不固定的布局。</p>
        <!-- <a href="#" class="cta--secondary">Get started</a> -->
      </li>
      <li class="g-medium--half g-wide--1 theme--introduction-to-media g-medium--last ">
        <a href="#" class="themed">
          <span class="icon-circle--large themed--background"><i class="icon icon-introduction-to-media"></i></span>
          <h3 class="large">图像、音频及视频</h3>
        </a>
        <p>只用可快速加载且应用广泛的媒体。</p>
        <!-- <a href="#" class="cta--secondary">Get started</a> -->
      </li>
      <li class="g-medium--half g-wide--1 theme--user-input  ">
        <a href="#" class="themed">
          <span class="icon-circle--large themed--background"><i class="icon icon-user-input"></i></span>
          <h3 class="large">表单及用户输入</h3>
        </a>
        <p>触碰、点击和提交。</p>
        <!-- <a href="#" class="cta--secondary">Get started</a> -->
      </li>
      <li class="g-medium--half g-wide--1 theme--performance g-medium--last  g-wide--last ">
        <a href="#" class="themed">
          <span class="icon-circle--large themed--background"><i class="icon icon-performance"></i></span>
          <h3 class="large">性能优化</h3>
        </a>
        <p>性能是一个特性。</p>
        <!-- <a href="#" class="cta--secondary">Get started</a> -->
      </li>
    </ul>
  </div>
</section>

<div class="container">
  <a name="article-navigation"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#17</strong>文章导航</h2>
</div>

<section class="styleguide__article-nav">
  <nav class="article-nav">
    <div class="container">
      <a href="#" class="article-nav-link article-nav-link--prev">
        <p class="article-nav-count">02</p>
        <p>响应式页面的需求</p>
      </a>
      <a href="#" class="article-nav-link article-nav-link--next">
        <p class="article-nav-count">04</p>
        <p>为多分辨率创造图像</p>
      </a>
    </div>
  </nav>
</section>

<div class="container">
  <a name="next-lessons"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#18</strong> 下一课</h2>
</div>

<section class="styleguide__next-lessons">
  <div class="container-medium">
    <div class="next-lessons" data-current-lesson="03">
      <h3><i class="icon icon-lessons"></i> 下一课</h3>
      <ol class="list-lessons list-links">
        <li><a href="#">课程标题一</a></li>
        <li><a href="#">课程标题二</a></li>
        <li class="current"><a>课程标题三<i class="icon icon-tick"></i></a></li>
        <li><a href="#">课程标题四</a></li>
        <li><a href="#">课程标题五</a></li>
      </ol>
    </div>
  </div>
</section>

<div class="container">
  <a name="related-items"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#19</strong> 相关项目</h2>
</div>

<section class="styleguide__related-items">
  <div class="container">

    <div class="related-items clear">
      <h3 class="related-items__title g-wide--1 g-medium--full">相关指导</h3>
      <div class="related-items__section clear">
        <ul class="related-items-list list-reset">
          <li class="g-medium--1 g-wide--1 theme--multi-device-layouts">
            <p><a class="tag themed" href="#" title="Layout basics">布局基础</a></p>
            <p class="medium"><a href="#">这是标题超过两行的指导</a></p>
          </li>
          <li class="g-medium--1 g-wide--1 theme--introduction-to-media">
            <p><a class="tag themed" href="#" title="Media">引入媒体</a></p>
            <p class="medium"><a href="#">为这个站点创建与设备完全无关的站点指导</a></p>
          </li>
          <li class="g-medium--1 g-medium--last g-wide--1 g-wide--last theme--performance">
            <p><a class="tag themed" href="#" title="Performance">性能</a></p>
            <p class="medium"><a href="#">为这个站点创建与设备完全无关的完全焕然一新的站点指导</a></p>
          </li>
        </ul>
      </div>
    </div>

    <div class="related-items clear">
      <h3 class="related-items__title  g-wide--1 g-medium--full">学习更多案例</h3>
      <div class="related-items__section clear">
        <ul class="related-items-list  list-reset">
          <li class="g-medium--1 g-wide--1   theme--">
            <p class="medium">
              <a href="#">
                <img src="../../imgs/placeholder--small.png" alt="Title goes here" />标题扔这</a>
            </p>
          </li>
          <li class="g-medium--1 g-wide--1   theme--">
            <p class="medium">
              <a href="#">
                <img src="../..//imgs/placeholder--small.png" alt="Title goes here" />标题扔这</a>
            </p>
          </li>
          <li class="g-medium--1 g-wide--1  g-medium--last g-wide--last theme--">
            <p class="medium">
              <a href="#">
                <img src="../..//imgs/placeholder--small.png" alt="Title goes here" />标题扔这</a>
            </p>
          </li>
        </ul>
      </div>
    </div>

    <div class="related-items  related-items--inline g-wide--pull-1  clear">
      <h3 class="related-items__title ">相关指导</h3>
      <div class="related-items__section clear">
        <ul class="related-items-list  related-items-list--inline list-reset">
          <li class="  theme--user-input">
              <p><a class="tag themed" href="#" title="Forms">表单</a></p>
            <p class="medium">
              <a href="#">标题扔这</a>
            </p>
          </li>
          <li class="  theme--user-input">
              <p><a class="tag themed" href="#" title="Forms">表单</a></p>
            <p class="medium">
              <a href="#">标题扔这</a>
            </p>
          </li>
          <li class="  theme--user-input">
              <p><a class="tag themed" href="#" title="Forms">表单</a></p>
            <p class="medium">
              <a href="#">标题扔这</a>
            </p>
          </li>
        </ul>
      </div>
    </div>

  </div>
</section>

<div class="container">
  <a name="did-you-know"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#20</strong> 你知道吗</h2>
</div>

<section class="styleguide__did-you-know">
  <div class="container clear">
    <div class="did-you-know">
      <div class="g--half">

        <h2 class="xlarge">为何移动先行</h2>
        <p class="did-you-know__symbol">Body - 它当真简单。我们创建一个基础页面并加入一个“视口”。这个视口是你要建立一个移动先行体验站点的最关键部件。没有它，你的站点将无法在移动设备上表现良好。</p>

        <p><i class="icon icon-lessons"></i> 课程</p>
        <ol class="list-links list-links--secondary">
          <li><a href="#">现代开发者工作流程</a></li>
          <li><a href="#">创建表单</a></li>
          <li><a href="#">触控输入</a></li>
        </ol>
        <a href="#" class="cta--primary">查看所有课程</a>
      </div>


    </div>
  </div>
</section>

<div class="container">
  <a name="latest-spotlights"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#21</strong>最新焦点</h2>
</div>

<section class="styleguide__latest-spotlights">
  <div class="latest-spotlights">
    <div class="container clear">
      <h2>最新焦点</h2>
      <ul class="latest-spotlights__list list-reset">
        <li class="latest-spotlights__item">
          <a href="#" class="latest-spotlights__link">
            <img src="../../imgs/image-example.jpg" alt="image example">
            <p class="small">焦点名称</p>
          </a>
        </li>
        <li class="latest-spotlights__item">
          <a href="#" class="latest-spotlights__link">
            <img src="../../imgs/image-example-2.jpg" alt="image example">
            <p class="small">焦点名称</p>
          </a>
        </li>
        <li class="latest-spotlights__item">
          <a href="#" class="latest-spotlights__link">
            <img src="../../imgs/image-example-3.jpg" alt="image example">
            <p class="small">焦点名称</p>
          </a>
        </li>
        <li class="latest-spotlights__item">
          <a href="#" class="latest-spotlights__link">
            <img src="../../imgs/image-example-4.jpg" alt="image example">
            <p class="small">焦点名称</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>


<section class="styleguide__media container">
  <a name="video"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#22</strong>媒体元素</h2>

  {% include modules/video.liquid id="dEGJ8XyZw40" %}

</section>

<div class="container">
  <a name="case-study"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#23</strong> 案例研究</h2>
</div>

<section class="styleguide__case-study-wrapper">
  <div class="case-study-wrapper">
    <div class="container clear">
      <div class="g--half">
        <h2>标题扔这</h2>
        <p>一杯咖啡不够喝，就当时是一场误会若不在意它是老鼠。他音乐的兴趣已经很深：他比着手势告我他也有一张提琴，我想他听你欣欣的回报这番作客只尝甜浆，只要把话匣开上，觉着心里有一个尖锐的刺痛，我想他听你欣欣的回报这番作客只尝甜浆，这问的后身便是无限的隐痛。</p>
        <dl>
          <dt>谁</dt>
          <dd>一杯咖啡不够喝，就当时是一场误会若不在意它是老鼠。讲，谁没有怨，百灵与夜莺，我，但我不仅不能尽我的责任，你去时也还是一个光亮，卻不是来作客。杭州西溪的芦雪与威尼市夕照的红潮，没福见着你的父亲，更无从悔。</dd>
          <dt>谁</dt>
          <dd>一杯咖啡不够喝，就当时是一场误会若不在意它是老鼠。讲，谁没有怨，百灵与夜莺，我，但我不仅不能尽我的责任，你去时也还是一个光亮，卻不是来作客。杭州西溪的芦雪与威尼市夕照的红潮，没福见着你的父亲，更无从悔。</dd>
          <dt>谁</dt>
          <dd>一杯咖啡不够喝，就当时是一场误会若不在意它是老鼠。讲，谁没有怨，百灵与夜莺，我，但我不仅不能尽我的责任，你去时也还是一个光亮，卻不是来作客。杭州西溪的芦雪与威尼市夕照的红潮，没福见着你的父亲，更无从悔。</dd>
        </dl>
      </div>
      <div class="case-study__img-wrapper g--half g--last">
        <img src="../../imgs/placeholder-vertical-image.jpg" alt="image placeholder">
      </div>
    </div>
  </div>
</section>

<div class="container">
  <a name="our-view"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#24</strong>我们的观点</h2>
</div>

<section class="styleguide__our-view">
  <div class="our-view">
    <div class="container-medium clear">
      <div class="g--half">
        <h2 class="huge our-view__title">我们的观点</h2>
      </div>
      <div class="our-view__content g--half g--last">
        <div class="our-view__list-wrapper">
          <h3 class="our-view__subtitle">不错的地方</h3>
          <ul>
            <li>欢迎来到篮球现在我们不推发酵的酵母。我是一个时而紧张。</li>
            <li>欢迎来到篮球现在我们不推发酵的酵母。我是一个时而紧张。</li>
            <li>欢迎来到篮球现在我们不推发酵的酵母。我是一个时而紧张。</li>
          </ul>
        </div>
        <div class="our-view__list-wrapper">
          <h3 class="our-view__subtitle">仍待提高</h3>
          <ul>
            <li>欢迎来到篮球现在我们不推发酵的酵母。我是一个时而紧张。</li>
            <li>欢迎来到篮球现在我们不推发酵的酵母。我是一个时而紧张。</li>
            <li>欢迎来到篮球现在我们不推发酵的酵母。我是一个时而紧张。</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <a name="featured-spotlight"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#25</strong>特性亮点</h2>
</div>

<a name="feature-spotlight"></a>
<section class="styleguide__feature-spotlight">


  <div class="featured-spotlight">

    <div class="container-medium">

      <div class="featured-spotlight__container g--pull-half">
        <div class="featured-spotlight__img">
          <img src="../../imgs/placeholder--featured-spotlight.png" alt="image exemple">
        </div>

        <div class="container-small">
          <h3 class="featured-spotlight__title">特性亮点</h3>
          <p>一杯咖啡不够喝，就当时是一场误会若不在意它是老鼠。好可爱，奇迹，滤纸是招你还是惹你了。</p>
          <a href="#" class="cta--primary">View Google</a>
        </div>
      </div>

    </div>

  </div>

</section>

<div class="container">
  <a name="featured-list"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#26</strong>特性列表</h2>
</div>

<section class="styleguide__featured-section">
  <div class="featured-section">
    <div class="container-medium">
      <ul class="featured-list">
        <li class="featured-list__item clear">
          <div class="container-small">
            <div class="featured-list__content g--half">
              <h3>案例学习</h3>
              <p>一杯咖啡不够喝，就当时是一场误会若不在意它是老鼠。我的老样子是清淡的鲜虾橄榄油意大利面还有不加美乃滋的培根牛肉三明治。</p>
              <a href="#" class="cta--primary">View Google</a>
            </div>
            <figure class="featured-list__img-wrapper g--half g--last">
              <img src="../../imgs/placeholder--medium.png" alt="image example">
            </figure>
          </div>
        </li>
        <div class="divider divider--fluid divider--spaced">
          <span class="divider-icon divider-icon--secondary"></span>
        </div>
        <li class="featured-list__item clear">
          <div class="container-small">
            <div class="featured-list__content g--half">
              <h3>案例学习</h3>
              <p>一杯咖啡不够喝，就当时是一场误会若不在意它是老鼠。我的老样子是清淡的鲜虾橄榄油意大利面还有不加美乃滋的培根牛肉三明治。</p>
              <a href="#" class="cta--primary">View Google</a>
            </div>
            <figure class="featured-list__img-wrapper g--half g--last">
              <img src="../../imgs/placeholder--medium.png" alt="image example">
            </figure>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
