---
layout: default
class: home
title: Web Fundamentals
id: home
---

<div class="home-header centered">
  <div class="container">
    <h1>网络开发基础课程</h1>
    <p>最佳实践手册</p>
    <a href="{{site.baseurl}}/getting-started/your-first-multi-screen-site/" title="Get started with Web Fundamentals" class="button--secondary-variation">开始</a>
  </div>
</div>

<div class="container">
  <div class="centered">
    <h3 class="g-wide--2 g--centered xlarge">营造强大的多设备网络体验</h3>
    <p class="g-wide--3 g--centered">
      网络开发基础是一个简单易懂的多设备网络开发指南. 目前我们只是刚刚开始并且需要您的帮助, 如果您对任何地方有指点以及意见,请
      <a href="{{site.github.root}}/issues" title="File an issue on GitHub">提交问题</a> 或者
      <a href="{{site.github.root}}/pulls" title="Submit a pull request on GitHub">提交Pull请求(Git)</a>.
    </p>
  </div>

  <ul class="list-guides-intro list-centered list-reset clear">
    {% for guide in page.articles.home %}
    <li class="g-medium--half g-wide--1 theme--{{ guide.id }} {% cycle '', 'g-medium--last' %} {% if forloop.last %} g-wide--last {% endif %}">
      <a href="{{site.baseurl}}{{guide.url | clean}}" title="{{guide.title}}" class="themed">
        <span class="icon-circle--large themed--background"><i class="icon icon-{{guide.id}}"></i></span>
        <h3 class="large">{{guide.title}}</h3>
      </a>
      <p>{{ guide.snippet }}</p>
    </li>
    {% endfor %}
  </ul>
</div>


{% if site.spotlights == true %}

{% featured_showcase showcase %}

<div class="featured-section">
  <div class="container-medium">
    <ul class="featured-list">
      <li class="featured-list__item clear">
        <div class="container-small">
          <div class="featured-list__content g--half">
            <h3></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, incidunt harum aut quae eaque sequi sunt molestiae tenetur vitae.</p>
            <a href="#" class="cta--primary">查看谷歌</a>
          </div>
          <figure class="featured-list__img-wrapper g--half g--last">
            <img src="../../imgs/placeholder--medium.png" alt="image exemple">
          </figure>
        </div>
      </li>
    </ul>
  </div>
</div>
{% endif %}

{% comment %}
<div class="recommended-section">
  <div class="container-medium">
    <ul class="recommended-list">
      <li class="recommended-list__item clear theme--multi-device-layouts">
        <div class="recommanded-list__content g--half">
          <h4 class="themed large">多设备布局</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <a href="#" class="cta--primary">开始</a>
        </div>
        <div class="recommanded-list__content g--half g--last">
          <h4 class="large">资源</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, incidunt harum aut quae eaque sequi sunt molestiae tenetur vitae.</p>
          <a href="#" class="cta--primary">查看</a>
        </div>
      </li>
    </ul>
  </div>
</div>
{% endcomment %}
